.overall-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center
}

#grid-container {
    display: flex;
    background-color: beige;
    width: 960px;
    height: 960px;
    flex: 0 0 1;
    flex-wrap: wrap;
}

.left-sidebar {
    display: flex;
    width: auto;
    height: 960px;
    flex: 1 1 0;
    background-color: white;
}

.right-sidebar {
    display: flex;
    width: auto;
    height: 960px;
    flex: 1 1 0;
    background-color: white;
}

#new-grid {
    background-color: black;
    font-size: 25px;
    color: white;
    border-radius: 5px;
    margin: 10px
}

#reset-grid {
    background-color: black;
    font-size: 25px;
    color: white;
    border-radius: 5px;
    margin: 10px;
}






